<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.freeboard.repository.member.MemberMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO member (user_id, password, name)
        VALUES (#{userId}, #{encryptedPassword}, #{name})
    </insert>

    <select id="countByUserId" resultType="Integer">
        SELECT COUNT(*)
        FROM member
        WHERE user_id = #{userId}
    </select>

    <select id="findByUserIdAndPassword" resultType="com.study.freeboard.domain.Member">
        SELECT member_id AS memberId, user_id AS userId, password, name, generation_timestamp AS generationTimestamp, modification_timestamp AS modificationTimestamp
        FROM member
        WHERE user_id = #{userId}
          AND password = #{encryptedPassword}
    </select>

</mapper>